.w{
 width: 80px;
}
.w1{
  width: 200px;
}
.w2{
  width: 100px;
}

.e{
  list-style: none;
  color: black;
}
.f{
  color: #f9f9f9;
}
.b{
  width: 100%;
  height: 400px;
  position: relative;
}
.c{
  position: absolute;
  background: #fe7403;
  border-radius: 30px;
  border: #fd7e14;
  width: 180px; 
  height:60px ;
  bottom: 50%;
  right: 10%;
}
.c:hover {
  background-color: rgb(220, 220, 183);
  font-size: 18px;
}
.bg{
  background: #fd7e14;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: list-item;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}